name: CI
on:
  workflow_dispatch:

jobs:
  dummy:
    runs-on: ubuntu-latest
    steps:
      - name: Manual trigger only
        run: echo "This workflow exists to override upstream CI configurations."
